In [2]:
import pandas as pd
training_set = pd.read_csv('../dataset/training_set.csv')
training_set_metadata = pd.read_csv('../dataset/training_set_metadata.csv')

In [3]:
training_set.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [20]:
training_set['mjd'] = training_set.groupby(['object_id', 'passband'])["mjd"].transform(lambda x: (x - x.min()))

In [22]:
train_by_object_and_passband = training_set.groupby(['object_id', 'passband'])

In [23]:
train_by_object_and_passband.mean()

                           mjd         flux   flux_err  detected
object_id passband
615       0         459.787530    -3.254554   3.823448  0.857143
          1         425.323655  -385.699911   5.029014  0.965517
          2         425.323648  -134.146566   3.380299  0.982759
          3         425.323647  -121.103501   3.340116  0.982759
          4         425.327940   -55.954592   3.798761  0.982759
          5         430.802351   -47.449847   7.636021  0.912281
713       0         464.676470    -2.720398   2.331400  0.142857
          1         416.714655    -1.019804   1.416982  0.267857
          2         416.714271    -0.794238   1.192936  0.267857
          3         416.714952    -0.986966   1.640155  0.267857
          4         416.715682    -0.900262   2.268854  0.089286
          5         416.716118    -1.794175   5.314447  0.000000
730       0         429.427419    -0.048080   2.057984  0.000000
          1         416.167075     0.141057   1.445473  0.000000
          2         416.166679     2.400870   1.254838  0.134615
          3         416.167119     3.236164   1.781935  0.134615
          4         416.815804     4.308728   2.502323  0.098039
          5         416.815757     4.539396   6.011377  0.078431
745       0         429.518932     1.797523   1.954723  0.027778
          1         418.273621     5.717394   1.316564  0.125000
          2         418.273713     9.711532   1.155521  0.285714
          3         418.273616    14.412924   1.667482  0.285714
          4         418.273500    13.134436   2.786468  0.232143
          5         412.241071    10.746138   6.698346  0.127273
1124      0         459.787530     0.660948   2.251139  0.000000
          1         425.323655     4.634637   1.701628  0.224138
          2         425.323648    10.243968   1.424134  0.310345
          3         425.323647    11.086555   1.927300  0.275862
          4         425.327940     9.906102   2.798486  0.172414
          5         430.802351     6.896742   6.523610  0.070175
...                        ...          ...        ...       ...
130739978 0         395.589341     1.286655   8.770909  0.058824
          1         382.639350    11.604012   2.768090  0.071429
          2         469.423646     1.487066   4.326212  0.083333
          3         461.259824     4.696556   8.799664  0.000000
          4         413.144044    -1.326906  16.703574  0.000000
          5         442.665989    20.073462  38.954717  0.028571
130755807 0         675.587600    24.635243  15.157640  0.083333
          1         364.264109     6.965825   4.156112  0.090909
          2         549.210467    -0.779640   5.474060  0.000000
          3         481.079700    27.147503   9.497943  0.071429
          4         476.337588    40.758273  16.333596  0.120000
          5         461.367515     3.528390  36.439638  0.000000
130762946 0         385.241446    -0.282914  57.640948  0.000000
          1         436.009847   -20.094296  12.921981  0.058824
          2         516.504050   -28.388796  11.480886  0.208333
          3         533.597324   -13.723449  13.047832  0.058824
          4         407.221034   -15.201844  26.211451  0.000000
          5         416.540555    -9.838345  45.477500  0.000000
130772921 0         650.467686     3.374208   9.850851  0.000000
          1         456.427891    28.342250   2.506190  0.090909
          2         590.089352     0.618994   3.415317  0.040000
          3         552.878368    -0.357920   7.151216  0.000000
          4         536.226366    -1.135067  12.712344  0.000000
          5         492.114252     7.671389  29.209016  0.025000
130779836 0         420.071577   812.700937  60.686820  0.230769
          1         415.175250   725.169852  26.821110  0.416667
          2         380.783252  2690.360415  46.167816  0.560000
          3         495.890864   755.993902  28.846493  0.500000
          4         444.585800  3489.185336  56.080309  0.461538
          5         433.422735  4151.358875  73.084239  0.600000

[47088 rows x 4 columns]

In [24]:
training_set.head()

   object_id     mjd  passband        flux   flux_err  detected
0        615  0.0000         2 -544.810303   3.622952         1
1        615  0.0000         1 -816.434326   5.553370         1
2        615  0.0000         3 -471.385529   3.801213         1
3        615  0.0000         4 -388.984985  11.395031         1
4        615  1.9841         2 -681.858887   4.041204         1

In [25]:
training_set.tail()

         object_id       mjd  passband       flux   flux_err  detected
1421700  130779836  833.6750         4 -39.881969  46.477093         0
1421701  130779836  806.8968         1  14.894439  18.947685         0
1421702  130779836  855.6906         5  30.593130  50.695290         0
1421703  130779836  863.6886         4 -23.471439  44.819859         0
1421704  130779836  770.8949         0 -41.214264  51.665123         0

In [26]:
training_set.to_csv('training_set_mjd_reset_by_passband.csv')